<div class="app-body">
    <main class="main d-flex align-items-center">
       
      <div class="container card" style="max-width: 1350px; margin-top: 20px;">
        <div class="row ">
            <img style= "    margin: auto; margin-bottom: 20px;" src="assets/img/brand/logo4.png" width="500" class="" alt="BCCI Logo"/>

          </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()" autocomplete="off">

            <div class="row col-md-12 mx-auto">

                          <div class="col-md-4 mt-2"></div>
                            <div class="col-md-4 mt-2">
                            <span> <b>Password*:</b> </span> 
                            <input type="password" formControlName="password" class="form-control"  required>
                            <div *ngIf="passForm.password.invalid" class="error_txt">
                              <div *ngIf="passForm.password.errors.required && passSubmitted">
                                Password Id is required.
                            </div>
                            <div *ngIf="passForm.password.errors.pattern">
                              At least one digit,one lowercase character,one uppercase character and least one special character is Required. At least 8 characters in length, but no more than 32.
                            </div> 
                            </div>
                          </div>
                          <div class="col-md-4 mt-2"></div>

                          <div class="col-md-4 mt-2"></div>

                         
                        <div class="col-md-4 mt-2">
                            <span> <b>Confirm Password*:</b> </span> 

                          <input type="password" formControlName="confirmPassword" class="form-control" placeholder="" required >
                          <div *ngIf="passForm.confirmPassword.invalid && passSubmitted" class="error_txt">
                            <div *ngIf="passForm.confirmPassword.errors.required">
                              Password Id is required.
                          </div>
                         
                          </div>
                        </div>
                        <div class="col-md-4 mt-2"></div>
                        <div class="col-md-4 mt-2"></div>
                        <div class="col-md-4 mt-2">
                            <span *ngIf="showError" class="error_txt text-center">
                                {{showError}}
                            </span>
                        </div>
                        <div class="col-md-4 mt-2"></div>
                        <div class="col-md-4 mt-2"></div>

                        <div class="col-md-4 mt-2 mb-2">
                          <button  type="submit" style="float: right; font-weight: 600;" class="btn btn-success"> Request Password</button>
                        </div>
                    
                </div>
            </form> 
        </div>
    </main>
</div>