<div class="container-fluid mt-3">
    <div class="row">
        <div routerLink="/master/users" class="col-md-3 card date-card">
           <div  class="master-label">
            <span class="col-md-3" >
               <img src="assets/img/avatars/fa-user-tie.png" style="    width: 1.8em;" class="img-avatar" alt=""/>
               Exporters 
            </span>  </div> 
        </div>
        <div routerLink="/master/cha" class="col-md-3 card date-card">
         <div  class="master-label">
          <span class="col-md-3" >
             <img src="assets/img/avatars/fa-user-tie.png" style="    width: 1.8em;" class="img-avatar" alt=""/>
             CHA 
          </span>  </div> 
      </div>
        <div *rbacShow="['admin']" routerLink="/master/pricing" class="col-md-3 card date-card">
            <div  class="master-label">
               <span class="col-md-3" >
                  <img src="assets/img/avatars/fa-rupee-sign.png" style="    width: 1.8em;" class="img-avatar" alt=""/>
                  Pricing 
               </span>
                </div> 
         </div>
         <div routerLink="/master/members" class="col-md-3 card date-card">
            <div  class="master-label"> 
               <span class="col-md-3" >
                  <img src="assets/img/avatars/fo_users.png" style="    width: 1.8em;     height: 50px;" class="img-avatar" alt=""/>
                  Members 
               </span> 
         </div> 
         </div>
    </div>
</div>